.TopNavBarContainer {
    z-index: 0;
    height: 75px;
}

@media (min-width: 992px) {
    .TopNavBarContainer {
        height: 80px;
    }
}

.TopNavBar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    background-color: #000000;
}

.TopNavBar>*:first-child {
    margin-left: 15px;
}

.TopNavBar>*:last-child {
    margin-left: auto;
}

@media (min-width: 992px) {
    .TopNavBar {
        justify-content: space-between;
        height: 80px;
    }
}

.DesktopOnlyNavItems {
    display: none;
}

@media (min-width: 992px) {
    .DesktopOnlyNavItems {
        display: block;
        margin: 3px auto 0px;
        padding-right: 81px;
    }
}