.TextWithImageContainer {
    background-color: #E8E8E8;
    padding: 30px 50px 15px 50px;

    h1 {
        text-align: center;
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 38px;

    }
    
    .TextWithImageContentContainer {
        // display: flex;
        // flex-direction: column-reverse;

        // @media(min-width: 992px) {
        //     flex-direction: row;
        // }

        @media(min-width: 1440px) {
            width: 1440px;
            margin: auto;
        }

        @media(min-width: 1920px) {
            width: 1600px;
            margin: auto;
        }

        .TextColumn {

            margin-left: auto;
            margin-right: auto;

            @media(min-width: 992px) {
                width: 80%;
            }

            p {
                line-height: 30px;
            }
        }
    
        // .ImageColumn {
        //     text-align: center;

        //     margin-bottom: 20px;

        //     @media(min-width: 992px) {
        //         margin-bottom: 0px;
        //     }
        // }
    
        // .TextColumn, .ImageColumn {
    
        //     @media(min-width: 992px) {
        //         width: 50%;
        //     }         
        // }
    }
}