.NavigationItem {
    padding: 10px;
    font-size: 19px;
}

.NavigationItem a {
    color: #FFFFFF;
    text-decoration: none;
}

.NavigationItem a:hover {
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
}

@media(min-width: 540px) {
    .NavigationItem {
        display: block;
    }
}

