.CarouselContainer {
    background-color: #E8E8E8;
    padding: 30px 50px;

    .CarouselContentContainer {
        text-align: center;
    
        @media(min-width: 1440px) {
            width: 1440px;
            margin: auto;
        }
    
        @media(min-width: 1920px) {
            width: 1600px;
            margin: auto;
        }
    
        .CarouselSlideContentContainer {
            margin: 0 15px;
    
            @media(min-width: 992px) {
                padding: 30px;
            }
    
            h2 {
                margin: 0 0 25px;            
            }
    
            img {
                width: 100%;
                margin: 0 auto 30px;
                max-width: 450px;

                &:hover {
                    opacity: 0.9;
                }
    
                @media(min-width: 992px) {
                    width: 80%;
                }
            }
    
            p {
                line-height: 30px;
                text-align: left;
    
                @media(min-width: 992px) {
                    padding: 0 20px;                
                }
            }
        }
    }
}

