.MobileNavToggle {
    width: 42px;
    height: 100%;
    margin-right: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.MobileNavToggle div {
    width: 90%;
    height: 3px;
    background-color: #FFFFFF;
}

@media (min-width: 541px) {
    .MobileNavToggle {
        display: none;
    }
}