.FooterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 75px;

    @media(min-width: 768px) {
        justify-content: flex-end;
        padding-right: 30px;
    }

    .FooterContentContainer {
        text-align: center;
    
        p {
            color: #FFFFFF;
            margin: 0;
            font-size: 15px;
        }
    }
}