.NavigationItems {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 100%;
}

@media (min-width: 541px) {
    .NavigationItems {
        display: flex;
        flex-flow: row;
    }
}

